.example-spacer {
    flex: 1 1 auto;
  }
.header{
    background-color: rgb(109, 109, 216);
    color: white;    
    font-size: 30px;
    font-family: fantasy;
}  
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}